.styled-button{
  background-color: #0000;
  border: none;
  transition: transform 0.5s;
  cursor: pointer;
}

.remove{
  height: 100%;
  width: 100%;
  background:center / contain no-repeat url("exit.svg") ;
}

.reset{
  position: absolute;
  right: 1rem;
  top: 1rem;
  composes: remove;
  height: 3rem;
  width: 3rem;
  background-image: url("reset.svg");
}

.color-picker{
  composes: remove;
  background-image: url("colorPicker.svg");
  background-color: #ffffff;
  border-radius: 100%;
}

.add-column{
  height:9rem;
  width: 10rem;
  background:center / contain no-repeat url("addColumn.svg") ;
}

.styled-button:focus,.styled-button:hover{
  transform: scale(1.1);
}

.color-picker:focus,.color-picker:hover{
  transform: scale(1.9);
}
