body {
  margin: 0;
  font-family: "Montserrat" 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width:1024px) {
  html{
    font-size: 10px;
  }
}

@media (max-width:700px) {
  html{
    font-size: 7px;
  }
}
